@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

.background-image {
    background-image: url(../images/programmer-image.webp);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.menu-main-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-top: 25px;
    margin-left: 320px;
}

.menu-link {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}

.menu-logo {
    border: 1px solid white;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    list-style-type: none;
    color: rgba(255, 255, 255, 0.63);
    display: flex;
    margin-left: 230px;
}

li {
    padding: 0px 15px;
}

.list-link {
    color: rgba(255, 255, 255, 0.63);
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease
}

.list-link:hover {
    color: #fff;
    cursor: pointer;
}

.list-exception:hover{
    color: #fff;
    cursor: pointer;
}

.menu-link:hover{
    color: #fff;
    cursor: pointer;
}

.dropdown-text {
    transition: 0.2s ease
}

.dropdown-text:hover {
    color: #fff;
    cursor: pointer;
}

.list-exception {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 84vh;
}

h1 {
    color: #fff;
    font-size: 55px;
    text-align: center;
    font-weight: 800;
}

.header-description {
    color: #fff;
    font-size: 22px;
}

.colorlib-link {
    text-decoration: none;
    color: #96bb7c;
    font-weight: 700;
}

.dropdown-one {
    position: relative;
    display: inline-block;
}

.dropdown-content-one {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 110px;
    height: 150px;
    z-index: 1;
}

.dropdown-one:hover .dropdown-content-one {
    display: block;
    cursor: pointer;
}

.dropdown-links {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.menu-two {
    color: black;
}

.menu-two:hover {
    cursor: pointer;
    color: #96bb7c;
}

.dropdown-two {
    display: inline-block;
    position: relative;
}

.dropdown-content-two {
    display: none;
    background-color: #fff;
    width: 150px;
}

.dropdown-two:hover .dropdown-content-two {
    display: block;
    cursor: pointer;
}

.dropdown-links:hover {
    color: #96bb7c;
    cursor: pointer;
}

.header {
    font-size: 50px;
    font-weight: 400;
}

